{% from "macros.html" import nav_link with context %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - My Flask Application</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>

</head>

<style>
    .active {
        color: blue;
        font-weight: 600;
    }

    nav.navbar {
        background-color: antiquewhite;
    }
</style>

<body>
    <section class="section">
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="https://bulma.io">
                    <img src="/static/content/ursei.gif" style="width:100%">
                </a>

                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                    data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">

                    {{nav_link("general.index","Домой")}}
                    {{nav_link("news.news","Новости")}}
                 
                    {#
                    <!-- <a href="{{ url_for('index')}}" class="navbar-item">
                        Домой
                    </a>
                    <a href="{{ url_for('news')}}" class=" navbar-item active">
                        Новости
                    </a> -->
                    #}

                    <div class="navbar-item has-dropdown is-hoverable">
                        <!-- <a class="navbar-link">
                            More
                        </a> -->
                        {{nav_link("blog.index","Блоги")}} 
                        
                        <div class="navbar-dropdown">
                            <a class="navbar-item">
                                About
                            </a>
                            <a class="navbar-item">
                                Jobs
                            </a>
                            <a class="navbar-item">
                                Contact
                            </a>
                            <hr class="navbar-divider">
                            <a class="navbar-item">
                                Report an issue
                            </a>
                        </div>
                    </div>
                </div>

                <div class="navbar-end">
                    <div class="navbar-item">
                        <form action={{url_for("news.news")}} method="POST">
                            <input type="search" name="search_text" />
                            <input type="submit" value="Искать">
                        </form>
                    </div>
                    <div class="navbar-item">
                        {% if g.user %}
                             <p>{{ g.user['username'] }}</p>
                             <a href="{{ url_for('auth.logout') }}">Log Out</a>
                        {% else %}
                        <div class="buttons">
                            <a class="button is-primary" href={{url_for("auth.register")}}>
                                <strong>Sign up</strong>
                            </a>
                            <a class="button is-light">
                                Log in
                            </a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>


        <header>
            {% block header %}{% endblock %}
        </header>
        {%block content%}{%endblock%}
    </section>

    {% block scripts %}
    <script>
        document.addEventListener('DOMContentLoaded', () => {

            // Get all "navbar-burger" elements
            const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

            // Check if there are any navbar burgers
            if ($navbarBurgers.length > 0) {

                // Add a click event on each of them
                $navbarBurgers.forEach(el => {
                    el.addEventListener('click', () => {

                        // Get the target from the "data-target" attribute
                        const target = el.dataset.target;
                        const $target = document.getElementById(target);

                        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                        el.classList.toggle('is-active');
                        $target.classList.toggle('is-active');

                    });
                });
            }

        });
    </script>
    {% endblock %}
</body>


</html>
